body {
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: black;
    color: rgb(0, 255, 0);
}

main {
    padding: 20px;
}

.title {
    font-weight: lighter;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link:hover {
    text-decoration: underline;
    background-color: black;
}
.nav-link {
    background-color: black;
    border: none;
    color: rgb(0, 255, 0);
}

.page {
    display: none;
}
